body{
  background-color: #666;
    margin:0;
    padding:0;
    background:#fff;
    font-size:12px;
    overflow:auto
    
  }
  
  #loveHeart{
    float:left;
    width:670px;
    height:625px
  }
  #garden{
    width:100%;
    height:100%
  }
  
  #code{
    float:left;
    width:445px;
    height:auto;
    color:#333;
    font-family:"Consolas","Monaco","Bitstream Vera Sans Mono","Courier New","sans-serif";
    font-size:16px;
    font-weight:bolder;
  }
  #code .string{
    color:#2a36ff
  }
  #code .keyword{
    color:#7f0055;
    font-weight:bold
  }
  #code .placeholder{
    margin-left:15px
  }
  #code .space{
    margin-left:7px
  }
  #code .comments{
    color:#ffffff;
    background-color: #33333300;
  }
  #copyright{
    text-align:center;
    color:#666
  }
  #errorMsg{
    width:100%;
    text-align:center;
    font-size:24px;
    position:absolute;
    top:100px;
    left:0
  }
  #copyright a{
    color:#666;

  }
  .section{
    background: #e74;
    overflow: hidden;
    background-image: linear-gradient(to bottom, #190e14, #0d0d4b 30%, #c76075 80%, #e9b64b 95%);
    background-image: radial-gradient(circle at center bottom, #e9b64b, #c76075 15%, #0d0d4b 75%, #190e14 90%);
    background-size: cover;
  }
  .columns{
    background-color: #33333300;
  }
  .column{
    background-color: #33333300;
  }
  .space{
    background-color: #33333300;
  }
  #copyright p{
    background-color: #33333300;
  }
.headd{
    background-color: #0000ff00;
}
.hap{
  background-color: #0000ff00;
  text-align: center;
  font-size: 5rem;
  font-weight: 400;
  color: white;
  inset: 3px 3px 3px solid rgb(0, 255, 166);
  animation: neon 0.5s ease-in-out infinite alternate;
  font-family: 'Times New Roman', Times, serif;
}
@keyframes neon {
  from {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(30, 132, 242, 0.52), 0 0 21px rgba(30, 132, 242, 0.92), 0 0 34px rgba(30, 132, 242, 0.78), 0 0 54px rgba(30, 132, 242, 0.92);
  }
  to {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.98), 0 0 30px rgba(202, 228, 225, 0.42), 0 0 12px rgba(30, 132, 242, 0.58), 0 0 22px rgba(30, 132, 242, 0.84), 0 0 38px rgba(30, 132, 242, 0.88), 0 0 60px #1e84f2;
  }
}